In [24]:
# Importing Libraries.

import pandas as pd
import numpy as np
import os

In [25]:
# Creating Path.

path = r'/Users/laceymarchment/Desktop/Instacart Basket Analysis'

In [3]:
# Importing Order Data from Original Data.

df_ords = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', '4.3_orders_products', 'orders.csv'), index_col = False)

In [4]:
# Importing Product Data from Original Data.

df_prods = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', '4.3_orders_products', 'products.csv'), index_col = False)

### 1. If you haven’t performed the consistency checks covered in this Exercise on your df_prods dataframe, do so now.

In [5]:
# Checking for mixed data types.

for col in df_prods.columns.tolist():
  weird = (df_prods[[col]].applymap(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_prods[weird]) > 0:
    print (col)

product_name

In [47]:
# Changing data type for mixed data. 

df_prods_new['product_name'] = df_prods_new['product_name'].astype('str')

In [27]:
df_prods_new = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', '4.3_NEWorders_products', 'products_new.csv'), index_col = False)

In [48]:
df_prods_new.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [29]:
# Checking for missing values.

df_prods_new.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [31]:
df_prods_new.shape

(49693, 5)

In [32]:
df_prods_clean = df_prods_new[df_prods_new['product_name'].isnull() == False]

In [33]:
df_prods_clean.shape

(49677, 5)

In [8]:
# Checking for duplicates

df_dups = df_prods[df_prods.duplicated()]

In [9]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [10]:
df_prods.shape

(49693, 5)

In [11]:
# Dropping duplicates. 

df_prods_no_dups = df_prods.drop_duplicates()

In [12]:
df_prods_no_dups.shape

(49688, 5)

### 2. Run the df.describe() function on your df_prods dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.
### Tip: Keep an eye on min and max values!

In [56]:
df_prods_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49688.000000  49688.000000   49688.000000  49688.000000
mean   24844.500040     67.769582      11.728687      9.994254
std    14343.834402     38.316162       5.850410    453.542503
min        1.000000      1.000000       1.000000      1.000000
25%    12422.750000     35.000000       7.000000      4.100000
50%    24844.500000     69.000000      13.000000      7.100000
75%    37266.250000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

### 3. Check for mixed-type data in your df_ords dataframe.

In [49]:
# Checking for mixed type data.

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

### 4. If you find mixed-type data, fix it. The column in question should contain observations of a single data type.
### - No columns with mixed type data.

### 5. Run a check for missing values in your df_ords dataframe.
### In a markdown cell, report your findings and propose an explanation for any missing values you find.

In [34]:
# Checking for missing values.

df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [52]:
df_ords.shape

(3421083, 7)

In [53]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,8.924952e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

### 6. Address the missing values using an appropriate method.
### In a markdown cell, explain why you used your method of choice.

In [35]:
# Imputing 0 as missing value for days_since_prior_order column.

df_ords['days_since_prior_order'].fillna(0, inplace=True)

In [38]:
df_ords

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,0.0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

### 7. Run a check for duplicate values in your df_ords data.
### In a markdown cell, report your findings and propose an explanation for any duplicate values you find.

In [41]:
# Checking for duplicates.

df_dups_clean = df_ords[df_ords.duplicated()]

In [44]:
df_dups_clean.head()

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

### 8. Address the duplicates using an appropriate method.
### In a markdown cell, explain why you used your method of choice.

### - No duplicates were found.

### 9. Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names.

In [54]:
# Exporting clean df_ords dataframe to Prepared Data folder

df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders.csv'))

df_prods_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'prods_cleaned.csv'))