### 3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Create path

path = r'/Users/laceymarchment/Desktop/Instacart Basket Analysis'

In [3]:
# Import orders_products_combined dataframe

df_orders_products_combined = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_orders_products_combined.shape

(32433030, 17)

In [5]:
df_orders_products_combined.head()

,Unnamed: 0_x,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists
0,0,2539329,1,1,2,8,0.0,196,1,0,both,195,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

### 4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [6]:
# Check shape of orders_products_combined dataframe

df_orders_products_combined.shape

(32433030, 17)

### 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [7]:
# Import product data

df_prods = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'prods_cleaned.csv'), index_col = False)

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Check product data shape

df_orders_products_combined.shape

(32433030, 17)

In [10]:
# Check column memory

df_orders_products_combined['user_id'].memory_usage(index = False, deep = True)

259464240

In [11]:
df_orders_products_combined.head()

# int8 can store integers from -128 to 127.
# int16 can store integers from -32768 to 32767.
# int64 can store integers from -9223372036854775808 to 9223372036854775807.

,Unnamed: 0_x,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists
0,0,2539329,1,1,2,8,0.0,196,1,0,both,195,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

In [12]:
# Check range of column 'order_number'

df_orders_products_combined['order_number'].max()

# int8

99

In [13]:
# Check memory usage for column 'order_number'

df_orders_products_combined['order_number'].memory_usage(index = False, deep = True)

259464240

In [14]:
# Reduce storage for column 'order_number'

df_orders_products_combined['order_number'] = df_orders_products_combined["order_number"].astype("int8")

In [15]:
# Check memory usage for column 'order_number'

df_orders_products_combined['order_number'].memory_usage(index = False, deep = True)

32433030

In [ ]:
# How to reduce column storage:

# df["ranknow"] = df["ranknow"].astype("int16")

In [16]:
df_merge_large = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = 'exist')

### 6. Confirm the results of the merge using the merge flag.

In [17]:
# Check merge using merge flag

df_merge_large['_merge'].value_counts()

both          32434170
right_only           0
left_only            0
Name: _merge, dtype: int64

### 7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [18]:
# Export data to pkl

df_merge_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'merge_large.pkl'))