### 3. Import your analysis libraries, as well as your new customer data set as a dataframe.

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Create path

path = r'/Users/laceymarchment/Desktop/Instacart Basket Analysis'

In [3]:
# Import customers data set as dataframe

df_customers = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'customers.csv'))

In [4]:
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

### 4. Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [5]:
df_customers.rename(columns = {'STATE' : 'State'}, inplace = True)
df_customers.rename(columns = {'Surnam' : 'Surname'}, inplace = True)

In [6]:
df_customers.head()

,user_id,First Name,Surname,Gender,State,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

### 5. Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [7]:
# Check for missing data

df_customers.isnull().sum()

user_id             0
First Name      11259
Surname             0
Gender              0
State               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [8]:
df_customers_missing = df_customers[df_customers['First Name'].isnull()== True]

In [9]:
df_customers_missing.shape

(11259, 10)

In [10]:
# Check for duplicates

df_customers_dup = df_customers[df_customers.duplicated()]

In [11]:
df_customers_dup.shape

(0, 10)

### 6. Combine your customer data with the rest of your prepared Instacart data.

In [12]:
# Import orders_products_combined dataframe

df_merge_large = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'merge_large.pkl'))

In [13]:
# Check orders_products_combined dataframe shape

df_merge_large.shape

(32434170, 38)

In [17]:
df_merge_large.head()

,Unnamed: 0_x,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id_y,department_id_y,prices_y,exist,max_order,loyalty_flag,Average_spending,spending_flag,Median_days_since_prior_order,frequency_flag
0,0,2539329,1,1,2,8,0.0,196,1,0,...,77,7,9.0,both,10,New customer,6.367797,Low spender,20.0,Regular customer
1,1,2398795,1,2,3,7,15.0,196,1,1,...,77,7,9.0,both,10,New customer,6.367797,Low spender,20.0,Regular customer
2,2,473747,1,3,3,12,21.0,196,1,1,...,77,7,9.0,both,10,New customer,6.367797,Low spender,20.0,Regular customer
3,3,2254736,1,4,4,7,29.0,196,1,1,...,77,7,9.0,both,10,New customer,6.367797,Low spender,20.0,Regular customer
4,4,431534,1,5,4,15,28.0,196,1,1,...,77,7,9.0,both,10,New customer,6.367797,Low spender,20.0,Regular customer

In [14]:
# Drop _merge colummn

df_merge_large_1 = df_merge_large.drop(columns = ['_merge'])

In [ ]:
# Merge customers dateframe

df_customers_merged = df_merge_large_1.merge(df_customers, on = ['user_id'], indicator = True)

In [14]:
#

df_customers_merged.shape

(32434170, 38)

### 8. Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [15]:
df_customers_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'merge_large.pkl'))